{% extends "auctions/layout.html" %} {% block body %}
{% if user.is_authenticated %}

<div>
    <h2>Listing for {{listing.title}}</h2>
    <h6>Description: {{listing.description}}</h6>
    {% if user == listing.listing_creator %}
    This is your listing, click here to close the listing: <input type='submit' value='Close Listing'>
    {% endif %}
    <br><img src="{{listing.url_image}}" height="200" width="200" alt="No Image" />
</div>
<br />
<div>
    <form action="{% url 'add_watchlist' %}" method="post">
        {% csrf_token %}
        <input type='hidden' name='listing_id' value="{{listing.id}}">

        {% if watchlist == None %}
        Add {{listing.title}} to watchlist?
        <input type='submit' name='Add' value='Add'>

        {% else%}
        Remove {{listing.title}} from watchlist?
        <input type='submit' name='Remove' value='Remove'>
        {% endif %}
    </form>
    <br><br>
    <h6><strong>Bid Details</strong></h6>
    Current bid: ${{listing.starting_bid}}<br>
    Enter new bid?
    <form action="{% url 'add_bid' %}" method='post'>
        {% csrf_token %}
        <input type="int" name='bid_amount' placeholder="{{listing.starting_bid}}" default="{{listing.starting_bid}}" />
        <input type='submit' value='Submit bid'>
    </form>

</div>
<div>
    <br>
    <h6><strong>Comments</strong></h6>
    {% for comment in comments %}
    {{comment}}:comments<br>
    {% endfor %}
    <form action="{% url 'add_comment' %}" method='post'>
        {% csrf_token %}
        <input type="text" placeholder="Add comment">
        <input type="submit">
    </form><br>
</div>


{% else %}
<div>
    <h2>Listing for {{listing.title}}</h2>
    <h6>Description: {{listing.description}}</h6>
    <img src="{{listing.url_image}}" height="200" width="200" alt="No Image" /><br /><br />
    Current bid: ${{listing.starting_bid}}
</div>
{% endif %} {% endblock %}